//These variables define font size of NAV
$desktop-nav-height : 35px;
$desktop-nav-a-hover-underline-color : #febd69;
$desktop-nav-a-and-title-font-size : 18px;
$desktop-nav-a-hasButtonClass-font-size : 1.1rem;

.title-bar {
	height: $desktop-nav-height;
	padding-top: 17px;
	background: $primary-color;
}

#siteTitle {
	color: white;
}

/**** DESKTOP NAVIGATION ****/
.nav-desktop {
	background-color: $primary-color;
	font-size: $desktop-nav-a-and-title-font-size;
	padding-top: 0px;
	padding-bottom: 0px;
	height: $desktop-nav-height !important;

	.menu-text {
		line-height: $desktop-nav-height;
		padding: 0px;
	}

	.menu > li > a {
		line-height: $desktop-nav-height;
		padding-top: 0px;
		padding-bottom: 0px;
		height: $desktop-nav-height;
	}

	.is-submenu-item a {
		color: grey;
		background: $white;
	}

	.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		border-color: $white transparent transparent;
	}

	.nav-a:hover {
		border-bottom: 2px solid $desktop-nav-a-hover-underline-color;
		font-weight: bold;
	}
}

.top-bar-left {
	display: inline-block;
}

.top-bar-right {
	line-height: $desktop-nav-height;
	padding: 0px;
}

.top-bar {
    ul {
        background-color: $primary-color;
    	line-height: $desktop-nav-height;
    	padding: 0px;
    }
    a {
        color: white;
    }
}

nav a.button {
	background-color: $primary-color;
	font-size: $desktop-nav-a-hasButtonClass-font-size;
	line-height: $desktop-nav-height;
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-user-menu {
    ul {
        a:hover {
            text-decoration: underline;
            color: $primary-color;
        }
    }
}
