$category-color : #6c6669;

.hero{
	padding-top: 20px;
}

.pics{
    padding-left: 0px;
    padding-right: 0px;
}

#f-cate{
	background-color: $category-color;
}

#category a#f-cate{
	color: white;
}

.is-submenu-item a{
	color: white;
	background: $category-color;
}

.dropdown.menu.vertical > li.opens-right > a::after{
	border-color: transparent transparent transparent white;
}

img{
	height: 250px;
	width: 392px;
}
