.divider {

    table {
        width: 100%;
        border-collapse: inherit;
    }

    h5 {
        font-size: 14px;
        font-weight: 400px;
        color: #767676;
    }
}

.td-center {
    width:1px;
    padding: 0 10px;
    white-space: nowrap;
}
