// base css pattern of main section

.main {
	padding: 50px 0px 130px 0px;
	background-color: rgb(237, 237, 237);
}


/***************
PAGINATION STYLE
****************/
.main {
    .pagination {
        padding-top: 60px;
    }
}
