$desktop-nav-height : 30px;

.title-bar {
	height: $desktop-nav-height;
	padding-top: 17px;
	background: $primary-color;
}

#siteTitle {
	color: white;
}

/**** DESKTOP NAVIGATION ****/
.nav-desktop{
	background-color: $primary-color;
	font-size: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: $desktop-nav-height;

	.menu-text {
		line-height: $desktop-nav-height;
		padding: 0px;
	}

	.menu > li > a {
		line-height: $desktop-nav-height;
		padding-top: 0px;
		padding-bottom: 0px;
		height: $desktop-nav-height;
	}

	.is-submenu-item a{
		color: grey;
		background: $white;
	}

	.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
		border-color: $white transparent transparent;
	}
}

.top-bar-left{
	display: inline-block;
}

.top-bar-right{
	line-height: $desktop-nav-height;
	padding: 0px;
}

.top-bar {
    ul {
        background-color: $primary-color;
    	line-height: $desktop-nav-height;
    	padding: 0px;
    }
    a {
        color: white;
    }
}

nav a.button{
	background-color: $primary-color;
	font-size: 1.1rem;
	line-height: $desktop-nav-height;
	padding-top: 0px;
	padding-bottom: 0px;
}
