<div class="post thumb-border mdCardEffect">
    <div class="post-thumb img-zoom-in">
        <img src="{{root}}assets/img/icons/reload.svg" data-src="{{root}}assets/img/02.jpg">
        <a href="#" class="hover-posts"></a>
        <div class="video-stats clearfix"></div>
    </div>
    <div class="post-des">
        <h5><a href="#" class="goods-title">iphone7</a></h5>
        <div class="post-stats clearfix">
            <p class="price pull-left">￥1200</p>
            <p class="pull-right" style="color: #8a8a8a"><img src="{{root}}assets/img/icons/view.png">&nbsp;123</p>
        </div>
        <div class="post-stats clearfix">
            <p class="pull-left"><img src="{{root}}assets/img/icons/user.png">&nbsp;admin</p>
            <p class="pull-right"><img src="{{root}}assets/img/icons/time.png">&nbsp;4天前</p>
        </div>
    </div>
</div>
