<div class="post thumb-border mdCardEffect">
    <div class="post-thumb">
        <img src="{{root}}assets/img/03.jpg">
        <a href="#" class="hover-posts"></a>
        <div class="video-stats clearfix"></div>
    </div>
    <div class="post-des">
        <h6><a href="#" class="goods-title">surface studio</a></h6>
        <div class="post-stats clearfix">
            <p class="price pull-left">￥20000</p>
            <p class="pull-right">423人查看</p>
        </div>
        <div class="post-stats clearfix">
            <p class="pull-left">admin</p>
            <p class="pull-right">5天前</p>
        </div>
    </div>
</div>
