<div class="post thumb-border mdCardEffect">
    <div class="post-thumb">
        <img src="{{root}}assets/img/01.png">
        <a href="#" class="hover-posts"></a>
        <div class="video-stats clearfix"></div>
    </div>
    <div class="post-des">
        <h6><a href="#" class="goods-title">ipad Air 2</a></h6>
        <div class="post-stats clearfix">
            <p class="price pull-left">￥1200</p>
            <p class="pull-right">123人查看</p>
        </div>
        <div class="post-stats clearfix">
            <p class="pull-left">admin</p>
            <p class="pull-right">5天前</p>
        </div>
    </div>
</div>
