<div class="post thumb-border mdCardEffect">
    <div class="post-thumb">
        <img src="{{root}}assets/img/01.png">
        <a href="#" class="hover-posts"></a>
        <div class="video-stats clearfix"></div>
    </div>
    <div class="post-des">
        <div class="post-stats clearfix">
            <p class="price pull-left"><strong>￥1200</strong></p>
            <p class="pull-right" style="color: #8a8a8a"><img src="{{root}}assets/img/icons/heart0.png">12&nbsp;<img src="{{root}}assets/img/icons/comment.png">&nbsp;5</p>
        </div>
        <div class="post-stats clearfix">
            <h5 class="pull-left"><a href="#" class="goods-title">ipad Air 2</a></h5>
            <p class="pull-right" style="color: #8a8a8a"></p>
        </div>

        <div class="post-stats clearfix">
            <p class="pull-left"><img src="{{root}}assets/img/icons/user.png">&nbsp;admin&nbsp;<img src="{{root}}assets/img/icons/time.png">&nbsp;3天前</p>
            <p class="pull-right" style="color: #8a8a8a"><img src="{{root}}assets/img/icons/view.png">&nbsp;123</p>
        </div>
    </div>
</div>
