<nav class="top-bar nav-desktop">
    <div class="wrap">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text" id="siteTitle">MyGoodsMarket</li>
                <li><a href="#" class="button">Home</a></li>
                <li><a href="#" class="button">Sell</a></li>
                <li><a href="#" class="button">Help</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <a href="#">Your account</a>
                    <ul class="menu">
                        <li><a href="#" style="font-size: smaller">Your account</a></li>
                        <li><a href="#" style="font-size: smaller">Shopping list</a></li>
                        <li><a href="#" style="font-size: small">Subscribe &amp; saved items</a></li>
                    </ul>
                </li>
                <li><a href="#" class="button" data-toggle="signIn">Sign in/up</a></li>
                <li><a href="#" class="button">Cart</a></li>
            </ul>
        </div>
    </div>
</nav>
