<footer>
  <div class="wrap row small-up-1 medium-up-3">
    <div class="columns">
      <h5><strong>Contact us</strong></h5>
      <hr>
      <a href="#"><span>phone</span></a>
      <a href="#"><span>Email</span></a>
      <a href="#"><span>Address</span></a>
    </div>
    <div class="columns">
      <h5><strong>About us</strong></h5>
      <hr>
      <a href="#"><span>About Us</span></a>
      <a href="#"><span>Services</span></a>
    </div>
    <div class="columns">
      <h5><strong>Social network</strong></h5>
      <hr>
      <a href="#"><span>sina</span></a>
      <a href="#"><span>Wechat</span></a>
      <a href="#"><span>QQ</span></a>
    </div>
  </div>
</footer>
