<nav class="top-bar nav-desktop">
  <div class="wrap">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">MyGoodsMarket</li>
        <li><a href="#" class="button alert">Home</a></li>
        <li><a href="#" class="button alert">forum</a></li>
        <li><a href="#" class="button alert">Help</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li class="menu-text"><a href="#" class="button alert">Sign in/out</a></li>
      </ul>
    </div>
  </div>
</nav>
