<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Popular</a></li>
    <li class="tabs-title"><a href="#panel2">Announcement</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <li><a href="#">Goods1</a></li>
        <li><a href="#">Goods2</a></li>
        <li><a href="#">Goods3</a></li>
        <li><a href="#">Goods4</a></li>
        <li><a href="#">Goods5</a></li>
        <li><a href="#">Goods6</a></li>
    </div>
    <div class="tabs-panel" id="panel2">
    </div>
</div>
