<div class="medium-2 columns show-for-medium" id="category">
    <ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 300px;">
        <li><a href="#" id="f-cate">electronics</a>
            <ul class="menu">
                <li><a href="#">hardware</a></li>
                <li><a href="#">software</a></li>
                <li><a href="#">computer</a></li>
                <li><a href="#">recreation device</a></li>
                <li><a href="#">mobile device</a></li>
            </ul>
        </li>
        <li><a href="#" id="f-cate">clothing,shoes</a>
            <ul class="menu">
                <li><a href="#">man</a></li>
                <li><a href="#">woman</a></li>
            </ul>
        </li>
        <li><a href="#" id="f-cate">books</a>
            <ul class="menu">
                <li><a href="#">novel</a></li>
                <li><a href="#">biography</a></li>
                <li><a href="#">others</a></li>
            </ul>
        </li>
        <li><a href="#" id="f-cate">vehicle</a>
            <ul class="menu">
                <li><a href="#">eletronic</a></li>
                <li><a href="#">bicycle</a></li>
            </ul>
        </li>
        <li><a href="#" id="f-cate">Sport</a></li>
        <li><a href="#" id="f-cate">Grocery &amp; wine</a></li>
    </ul>
</div>
