<div class="tiny reveal" id="signIn" data-reveal data-close-on-click="true" data-animation-in="scale-in-up" data-animation-out="fade-out">
    <h5>Welcome to MyGoodsMarket</h5>
    <form action="index.html" method="post">
        <div class="row">
            <div class="columns">
                <label>username:
                    <input type="text" name="username" placeholder="Your username" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <label>password:
                <input type="password" name="password" placeholder="Your password" />
                </label>
            </div>
        </div>

        <div class="row align-justify">
            <fieldset class="columns">
                <input id="Remember" type="checkbox"><label for="Remember">Remember Me</label>
            </fieldset>
            <div class="columns">
                <a href="#" class="pull-right">Forget Password?</a>
            </div>
        </div>

        <div class="row align-center">
            <input class="button" type="submit" value="Sign in" />
        </div>
    </form>



    <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
